<% provide :title, t("titles.categories") %>
<div class="row">
  <div class="col-md-10">
    <p><%= link_to t("buttons.add_new"), new_admin_category_path, "data-toggle" => "modal",
                    remote: true, "data-target" => "#form-modal", 
                    class: "btn btn-primary" %>
    </p>
    <table class="table table-bordered table-hover">
      <th>Name</th>
      <th>Number of Exam Question</th>
      <th>Duration</th>
      <th colspan="3">Actions</th>
      <tbody class="category-row">
        <%= render partial: "category", collection: @categories %>
      </tbody>
    </table>
    <div class="paginate"><%= render "shared/paginate" %></div>
  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
