<div class="row">
  <div class="col-md-10">
    <table class="table table-bordered table-hover">
      <center><h2><%= @category.name %></h2></center>
      <p><%= link_to t("buttons.add_new"), new_admin_question_path, class: "btn btn-primary" %>
      <th>Question</th>
      <th colspan="3" style="text-align:center">Actions</th>
      <tbody class="category-row">
        <%= render partial: "question", collection: @questions %>
      </tbody>
    </table>
    <div class="paginate"><%= render "shared/paginate" %></div>
  </div>
</div>
