<nav>
  <div class="nav-wrapper">
    <div class="left hiden-on-med-and-down">
      <h5><%= link_to t("links.framgia_exam_system"), "#" %></h5>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to t("menus.home"), "#" %></li>
      <li><%= link_to t("menus.signup"), "#" %></li>
      <li><%= link_to t("menus.login"), "#" %></li>
    </ul>
  </div>
</nav>
